.left
{
			color:red;
			background-color:lightgreen;
			float:left;
}
.middle
{
			color:white;
			background-color:gray;
			float:left;
}
.right
{
			color:blue;
			background-color:lightgreen;
			float:left;
}
div		
{
			color:gold;
			padding:1%;
			background-color:silver;
			width:30%;
			border:solid black;
}
